.applyContainer {
  padding-top: 100px;
}

.applyContainer h1,
.applyContainer h2 {
  color: var(--dark-grey);
  margin-left: 5vw;
  margin-right: 5vw;
}

.applyContainer h2 {
  margin-bottom: 2em;
}

.applyTitleContainer {
  margin-bottom: 3em;
}

.applyTitleContainer p {
  margin-left: 5vw;
  margin-right: 5vw;
}

.subtitle {
  margin-left: 6vw;
  margin-top: 2em;
  color: var(--red);
}

.subtitle::before {
  content: "_ ";
  color: var(--red);
}

.applyPositions,
.applyFaq {
  background-color: var(--dark-grey);
  padding-top: 2em;
  padding-bottom: 2em;
}

.applyPositions h2,
.applyPositions h3,
.applyPositions p {
  color: var(--beige);
}

.applyFaq h2,
.applyFaq h3,
.applyFaq p {
  color: var(--beige);
}
