footer {
  position: relative;
  padding-top: 1em;
  left: 0;
  bottom: 0;
  width: 100%;
  color: var(--beige);
  background-color: var(--dark-blue);
  text-align: center;
}

.footerLogo {
  height: 3em;
}

.footerTextLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footerTextLinks a {
  color: var(--link-blue);
  font-size: 22px;
  font-weight: 600;
  transition: color 0.1s linear;
}

.footerTextLinks a:hover {
  color: var(--grey);
}

.footerLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 2em;
  margin: 0 30%;
  padding: 1em 0;
}

.footerLinks img:hover {
  filter: brightness(74%);
}