.navBar {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  z-index: 20;
  top: 0;
  left: 0;
  transition: 0.3s ease-in-out;
}

.navBarLogo .logo {
  padding: 1em;
  max-height: 10vh;
  width: 10vw;
}

.navBar h1 {
  margin-top: 0;
  color: var(--dark-grey);
  font-size: 32px;
  padding-left: 80px;
  padding-top: 45px;
  transition: color 0.1s linear;
}

.navBar h1::selection {
  background-color: var(--red);
}

.navBar h1:hover {
  color: var(--grey);
}

.navBarBubble {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.navBarLinks {
  display: flex;
  height: 100%;
  padding-right: 45px;
  padding-top: 15px;
  margin-top: 0;
  transition: 0.3s ease-in-out;
}

.navBarLinks .activeLink {
  color: var(--red);
}

.navBarLinks .activeLink:hover {
  color: var(--red);
}

.navBarLinks li {
  list-style: none;
  padding: 0 25px;
}

.navBarLinks a {
  color: var(--beige);
  font-size: 22px;
  font-weight: 600;
  transition: color 0.1s linear;
}

.navBarLinks a:hover {
  color: var(--grey);
}

.navBarLinks a::selection {
  background-color: var(--dark-grey);
}
