@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;600;700&display=swap");

body {
  margin: 0;
  --red: #F12716;
  --link-blue: #1E6AFF;
  --dark-grey: rgba(0, 0, 0, 0.85);
  --grey: #BDBDBD;
  --beige: rgb(240, 235, 235);
  overflow-x: hidden;
  background-color: var(--beige);
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 500;
}

@media (max-width: 768px) {
  body {
    font-size: 20px;
  }
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1 {
  font-size: 2.5em;
  font-weight: 600;
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
}

@media (max-width: 768px) {

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1.2rem;
  }
}

::selection {
  background: var(--red);
}

h2::before {
  content: "/ ";
  color: var(--red);
}